* {
    box-sizing: border-box;
}
.bb111 {
     color: #000000;
	font-style: italic;
	font-family: "Times New Roman",Georgia, Serif;
	background-image: url(https://interyerus.ru/f/product/54058.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
A:link { text-decoration: none;
 color: black}
A:visited { text-decoration: line-through;
 color: red}
A:active { text-decoration: line-through;
 color: green}
A:hover {
 text-decoration: underline;
 color: green;
 }
header {
    height: 150px;
    background-color:  blue;
}
footer {
    height: 100px;
    background-color: grey;
}
.ss111 {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.4em 0.4em 5px black;
}
.logo2 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
a {
    color: #412e2e;
}
.table {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    background-color: orange;
}
tr:nth-child(2n) {
    padding: 0rem;
    background-color: white;
}
@media screen and (min-device-width: 576px) {
    .table {
        width: 60%;
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;

    }
}
